*{
    margin: 0px;
}
.header{
    text-align: center;
    color: white;

 
    background-color: blue;
    padding: 10px;
}
.image{
    width:100%;
    height: 700px;
    background-image: url("https://www.karunya.edu/sites/default/files/img/images/karunya-campus-view.jpg.pagespeed.ce.IyizWonRVf.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
}
.aboutus{
    text-align: justify;
    background-color: rgb(243, 217, 183);
    padding: 20px;
    box-sizing: border-box;
}
.aboutus .title{
    text-align: center;
    color:black;

}
.content{
    text-align: justify;

}
.img1{
    width: 33%;
    height: 300px;
    background-image: url("/Users/simrithcprince/Desktop/EXP 3 HTML/CSE.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    
}
.img2{
    width: 33%;
    height: 300px;
    background-image: url("/Users/simrithcprince/Desktop/EXP 3 HTML/library.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    
}
.img3{
    width: 33%;
    height: 300px;
    background-image: url("/Users/simrithcprince/Desktop/EXP 3 HTML/biotech.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    
}
.img1 .box1{
    text-align: center;
    color:white;
    background-color: black;
    opacity: 0.5;
    
    
}
.img1 .box1:hover{
    opacity:1;
    background-color: brown;
}
.img2 .box2{
    text-align: center;
    color:white;
    background-color: black;
    opacity: 0.5;
}
.img3 .box3{
    text-align: center;
    color:white;
    background-color: black;
    opacity: 0.5;
}
.pic1{
    width: 50%;
    height: 300px;
    background-image: url("/Users/simrithcprince/Desktop/EXP 3 HTML/paddy.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    

}
.campus{
    text-align: justify;
    width: 50%;
    height: 250px;
    background-color:rgb(243, 217, 183);
    padding: 50px;
    box-sizing: border-box;
    float: left;
    
}
.pic{
    width: 50%;
    height: 250px;
    background-color:rgb(243, 217, 183);
    background-image: url("/Users/simrithcprince/Desktop/EXP 3 HTML/campuslif.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    box-sizing: border-box;
    

}


    

.gt{
    text-align: justify;
    width: 49%;
    height: 350px;
    background-color:rgb(243, 217, 183);
    padding: 50px;
    
    box-sizing: border-box;
    float: left;
    border-top: 1px solid black;
    border-bottom: 1x solid black;
    border-right: 1px solid black;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-right: 1px;
}

.pic2{
    width: 50%;
    height: 350px;
    background-image: url("/Users/simrithcprince/Desktop/EXP 3 HTML/paddy.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    float: left;
    box-sizing: border-box;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 1px;
    

}
.pic2 form{

    background-color: white;
    width: 70%;
    margin-left: 15%;
}

.pic2 form h4{
    font-size: 25px;
    text-align: center;

}
.pic2 form input{
    width: 95%;
    height: 30px;
    margin-left: 5px;
    
    border-radius: 5px;
    border: none;
    background-color: gray;

}

.pic2 form input::placeholder{
    opacity: 1;
    color: black;
}

.pic2 form input:focus{
    outline: 2px solid rgb(21, 0, 255);
    background: none;
}

.pic2 form button{
    margin: 5px;
    width: 98%;
    height: 30px;
    background-color: rgb(30, 30, 202);
    border-radius: 5px;
    border: 0px;
}